* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column !important;
}

.nav-link {
    transition: none !important;
}

.form-switch .form-check-input {
    width: 2.5em !important;
}

.form-check-input {
    width: 1.5em !important;
    height: 1.5em !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.inner-content {
    margin-top: auto;
    margin-bottom: auto;
}

#history-photo,
#achievements-photo,
#stadium-photo,
iframe {
    width: 100%;
}

.navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 77vh) !important;
}

.nav-link.active {
    font-weight: bold;
}

.home {
    scroll-margin-top: 100px;
    min-height: calc(100vh - 88px);
    display: flex;
    flex-grow: 1;
    background: url("./img/Supporters_FC_Dnipro.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.history {
    scroll-margin-top: 85px;
    min-height: calc(100vh - 88px);
    display: flex;
    flex-grow: 1;
    background: url("./img/fgwjihahszbiw7pn-amp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.achievements {
    scroll-margin-top: 85px;
    min-height: calc(100vh - 88px);
    display: flex;
    flex-grow: 1;
    background: url("./img/mini_pamjatnye-matchi-dnepra-582-8eed.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.attributes {
    scroll-margin-top: 85px;
    min-height: calc(100vh - 88px);
    display: flex;
    flex-grow: 1;
    background: url("./img/https_www.sports.dp.uaimagesstoriesmyimagecatalog12igrok0.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.stadium {
    scroll-margin-top: 85px;
    min-height: calc(100vh - 88px);
    display: flex;
    flex-grow: 1;
    background: url("./img/1200px-FC_Dnipro_Dnipropetrovsk_stadium.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col h3 {
    padding-left: 20px;
}

.col ul {
    padding-left: 60px;
}

.form-check-input:checked {
    background-color: black !important;
    border-color: var(--bs-nav-link-color) !important;
}

.soc-links:hover {
    opacity: 70%;
    transition: opacity .15s ease-in-out;
}

.bg-dark {
    background-color: #212529 !important;
}

.transition {
    transition: all 0.5s ease-in-out;
}
/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #00aeef;
    border-radius: 20px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004b96;
    border-radius: 20px;
    border: 3px solid #fff;
}
*/
@media screen and (max-width: 767px) {
    .home {
        scroll-margin-top: 100px;
    }

    .history,
    .achievements,
    .attributes,
    .stadium {
        scroll-margin-top: 69px;
    }
}

@media screen and (max-width: 575px) {
    .soc-links {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-height: 400px) {
    body {
        zoom: 0.7;
    }
}

@media screen and (max-height: 300px) {
    .navbar-nav-scroll {
        max-height: var(--bs-scroll-height, 100vh) !important;
    }
}

@media screen and (max-height: 204px) {
    .navbar-nav-scroll {
        max-height: var(--bs-scroll-height, 70vh) !important;
    }
}